
#...ignore folders
.vs*/
.env/
.venv/
**/.ipynb_checkpoints/
__py*/
z*/

#...ignore the following files except the ones below with `!`
tempCodeRunnerFile.py
log/*.*
*.log
**/.~lock*.*
**/z*.*
Untitled*.*
