[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
nbformat = "*"
pandas = "*"
numpy = "*"
requests = "*"
ib-insync = "*"
tqdm = "*"
scipy = "*"
pyyaml = "*"
lxml = "*"
ipython = "*"
ipykernel = "*"
plotly = "*"

[requires]
python_version = "*"
